#placeholder{:style => "width:800px;height:400px;"}

#times
  %h2 Times
  %table.stats
    %tr
      %th Average Training Time / km
      %td= Swim.measured.training.average_time.to_time

    %tr
      %th Best Training Time / km
      - swim = Swim.measured.training.order(:rate).first
      %td= "#{swim.to_time} (#{swim.minutes_per_km.to_time})"

    - [1, 2, 3].each do |distance|
      %tr
        %th Best #{distance}km Training Time
        %td= Swim.training.measured.distance(distance * 1000).order(:seconds).first.to_time

    %tr
      %th Average Race Time / km
      %td= Swim.races.average_time.to_time

#distances
  %h2 Distances
  %table.stats
    %tr
      %th Total Distance (km)
      %td= Swim.sum(:distance) / 1000.0
    %tr
      %th Average Training Distance (km)
      %td= (Swim.training.average(:distance) / 1000.0).round(2)
    %tr
      %th Average Distance / month
      %td
        = (Swim.average_distance_per_month / 1000.0).round(2)
    %tr
      %th Best Distance / month
      %td
        - month, distance = Swim.best_distance_month
        = (distance / 1000.0).round(2)
        (#{month})

#log
  %h2 Log
  %table.stats
    %tr
      %th
      %th Average Time
      %th Total Distance
      - distances = Swim.total_distance_per_month
      - times = Swim.average_times_by_month
      - first_month = Date.strptime(distances.first[0], "%B %Y")
      - month = Date.today.at_beginning_of_month
      - while month >= first_month
        - month_str = month.strftime("%B %Y")
        %tr
          %th= month_str
          %td
            - time = times.detect { |m, s| m == month_str }
            = time[1].to_time if time
          %td
            - distance = distances.detect { |m, s| m == month_str }
            = (distance[1] / 1000.0).round(2) if distance
        -  month = month - 1.month

= javascript_tag("initGraph(#{Swim.notes.to_json},
                            #{Swim.training.minutes_per_km.to_json},
                            #{Swim.training.distances.to_json},
                            #{Swim.races.minutes_per_km.to_json},
                            #{Swim.races.distances.to_json})")
